<xf:macro name="viewingReport" arg-report="!">
	<xf:set var="$content" value="{$report.Content}" />
	<xf:if is="$content instanceof '\XF\Entity\Post' ">
		<xf:set var="$content" value="{{ $content.Thread }}" />
	</xf:if>
	<xf:if is="$content instanceof '\XF\Entity\Thread' ">
		<xf:set var="$html"><xf:trim>
			<xf:macro name="reply_banner_block_between"
					  arg-preferred="{$content}"
					  arg-alternative="{$content.Forum}"
					  arg-withJs="{{ false }}" />
		</xf:trim></xf:set>
		<xf:if is="$html is not empty">
			<xf:formrow label="{{ phrase('svThreadReplyBanner_thread_reply_banner') }}" rowtype="noValuePadding fullWidth" rowclass="blocks">
				{{ $html|raw }}
			</xf:formrow>
		</xf:if>
	</xf:if>
</xf:macro>

<xf:macro name="reply_banner_html" arg-replyBanner="!">
	<xf:css src="svThreadReplyBanner_macros_reply_banner_html.less" />
	
	<xf:if contentcheck="true">
		<div class="block block--contentReplyBanner" data-content-type="{$replyBanner.getEntityContentType()}" data-content-id="{$replyBanner.getEntityId()}">
			<div class="block-container">
				<div class="block-body">
					<div class="block-row block-row--message">
						<xf:contentcheck>
							{{ bb_code($replyBanner.raw_text, $replyBanner.getEntityContentType(), $replyBanner) }}
						</xf:contentcheck>
					</div>
					
					<xf:if is="$replyBanner.banner_last_edit_date">
						<div class="block-row block-row--lastEdit">
							<xf:if is="$replyBanner.banner_user_id === $replyBanner.banner_last_edit_user_id">
								{{ phrase('last_edited:') }} <xf:date time="{$replyBanner.banner_last_edit_date}" />
							<xf:else />
								{{ phrase('last_edited_by_moderator:') }} <xf:date time="{$replyBanner.banner_last_edit_date}" />
							</xf:if>
						</div>
					</xf:if>
				</div>
			</div>
		</div>
	</xf:if>
</xf:macro>

<xf:macro name="reply_banner_block" arg-content="!" arg-editHistoryRoute="!">
	<xf:if is="$content.canViewSvContentReplyBanner()">
		<xf:set var="$replyBanner" value="{{ $content.svThreadReplyBanner }}" />

		<xf:if is="$replyBanner.banner_edit_count && $replyBanner.canViewEditHistory()">
			<div class="tabs tabs--standalone">
				<div class="hScroller" data-xf-init="tabs h-scroller"
					 data-panes=".js-svContentReplyBannerTabPanes"
					 data-state="replace"
					 role="tablist">
					<span class="hScroller-scroll">
						<a class="tabs-tab is-active"
						   role="tab"
						   aria-controls="sv-content-reply-banner"
						   href="{{ link('threads', $thread) }}">{{ phrase('svThreadReplyBanner_thread_reply_banner') }}</a>

						<a class="tabs-tab"
						   id="content-reply-banner-history"
						   role="tab"
						   aria-controls="content-reply-banner-history"
						   href="{{ link($editHistoryRoute, $content) }}">{{ phrase('history') }}</a>
					</span>
				</div>
			</div>

			<ul class="tabPanes js-svContentReplyBannerTabPanes">
				<!--[XF:tab_panes:start]-->
				<li class="is-active" role="tabpanel" id="content-reply-banner">
					<xf:macro name="reply_banner_html" arg-replyBanner="{$replyBanner}" />
				</li>

				<li data-href="{{ link($editHistoryRoute, $content) }}" role="tabpanel" aria-labelledby="content-reply-banner-history">
					<div class="blockMessage">{{ phrase('loading...') }}</div>
				</li>
				<!--[XF:tab_panes:end]-->
			</ul>
		<xf:else />
			<xf:macro name="reply_banner_html" arg-replyBanner="{$replyBanner}" />
		</xf:if>
	</xf:if>
</xf:macro>

<xf:macro name="reply_banner_block_between" arg-preferred="!" arg-alternative="!" arg-withJs="{{ true }}">

	<xf:if is="$withJs"><xf:macro name="focus_editor_js" /></xf:if>
	<xf:set var="$html" value="" />

	<xf:if is="$html is empty && $preferred && $preferred.hasOption('svThreadReplyBanner')">
		<xf:set var="$html"><xf:trim>
			<xf:macro name="reply_banner_block"
					  arg-content="{$preferred}"
					  arg-editHistoryRoute="{{ $preferred.getSvReplyBannerEditHistoryRoute() }}" />
			</xf:trim></xf:set>
	</xf:if>

	<xf:if is="$html is empty && $alternative && $alternative.hasOption('svThreadReplyBanner')">
		<xf:set var="$html"><xf:trim>
			<xf:macro name="reply_banner_block"
					  arg-content="{$alternative}"
					  arg-editHistoryRoute="{{ $alternative.getSvReplyBannerEditHistoryRoute() }}" />
			</xf:trim></xf:set>

	</xf:if>

	<xf:if is="$html is not empty">
		{{ $html|raw }}
	</xf:if>
</xf:macro>

<xf:macro name="focus_editor_js">
	<xf:js addon="SV/ThreadReplyBanner" src="sv/threadreplybanner/scroll-to.js" min="1" />
</xf:macro>