<xf:if is="$thread.getOption('svThreadBanner') && $thread.canViewBanner()">
	<xf:css src="svThreadReplyBanner.less" />

	<xf:set var="$bannerHtml">
		<div class="thread-reply-banner" id="thread-reply-banner-{$thread.thread_id}">
			{{ bb_code($thread.ThreadBanner.raw_text, 'thread_banner', $thread.ThreadBanner) }}

			<xf:if is="$thread.ThreadBanner.banner_last_edit_date">
				<div class="thread-reply-banner--lastEdit">
					<xf:if is="$thread.ThreadBanner.banner_user_id == $thread.ThreadBanner.banner_last_edit_user_id">
						{{ phrase('last_edited:') }} <xf:date time="{$thread.ThreadBanner.banner_last_edit_date}" />
					<xf:else />
						{{ phrase('last_edited_by_moderator:') }} <xf:date time="{$thread.ThreadBanner.banner_last_edit_date}" />
					</xf:if>
				</div>
			</xf:if>
		</div>
	</xf:set>

	<xf:if is="$thread.ThreadBanner.banner_edit_count && $thread.ThreadBanner.canViewHistory()">
		<div class="tabs tabs--standalone">
			<div class="hScroller" data-xf-init="tabs h-scroller"
				 data-panes=".js-threadReplyBannerTabPanes"
				 data-state="replace"
				 role="tablist">
				<span class="hScroller-scroll">
					<a class="tabs-tab is-active"
					   role="tab"
					   aria-controls="thread-reply-banner"
					   href="{{ link('threads', $thread) }}">{{ phrase('svThreadReplyBanner_thread_reply_banner') }}</a>

					<a class="tabs-tab"
					   id="thread-reply-banner-history"
					   role="tab"
					   aria-controls="thread-reply-banner-history"
					   href="{{ link('threads/reply-banner-history', $thread) }}">{{ phrase('history') }}</a>
				</span>
			</div>
		</div>

		<ul class="tabPanes js-threadReplyBannerTabPanes">
			<!--[XF:tab_panes:start]-->
			<li class="is-active" role="tabpanel" id="thread-reply-banner">
				{$bannerHtml}
			</li>

			<li data-href="{{ link('threads/reply-banner-history', $thread) }}" role="tabpanel" aria-labelledby="thread-reply-banner-history">
				<div class="blockMessage">{{ phrase('loading...') }}</div>
			</li>
			<!--[XF:tab_panes:end]-->
		</ul>
	<xf:else />

	</xf:if>
</xf:if>